{% extends 'base.html' %}
{% block title %}Couch Clusters{% endblock %}
{% block  couchcluster_active %}active{% endblock %}

{% block body %}
    <div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-2">
            <h3><span class="label label-default">Couch Clusters</span> <span class="badge">{{ clusterslist|length }}</span></h3>
        </div>
        <div class="col-sm-9">
            <h3><a href="{% url 'couchdb:create_couchdbcluster'   %}" class="btn btn-success btn-sm" role="button">ADD New Couch Cluster</a></h3>
        </div>
        {% if clusterslist %}
            {% for couchcluster in clusterslist %}
                <div class="col-sm-5 col-lg-3">
                    <div class="thumbnail">

                        <div class="caption">
                            <h4>{{ couchcluster.name }}</h4>
                            <h4>Nodes : {{ couchcluster.names }}</h4>
                            <h4>Port : {{ couchcluster.haport }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'couchdb:couchdbcluster_detail'  couchcluster.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="#" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="couchcluster_id" value="{{ couchcluster.id }}" />
                                <button type="submit" class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>


                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}

        {% endif %}
    </div>
    </div>




{% endblock %}



</body>
</html>
